
.card {
  background-color: transparent; //Override white color by default
}

.flex-basis-10 {
  flex-basis: 10%
}
.flex-basis-12 {
  flex-basis: 12%
}
.flex-basis-20 {
  flex-basis: 20%
}
.flex-basis-25 {
  flex-basis: 25%
}
.flex-basis-50 {
  flex-basis: 50%
}
