/* You can add global styles to this file, and also import other style files */

.primary-view {
  margin: 2rem;
}

.btn-fancy {
  color: #ffffff;
  background-position: center;
  transition: background 0.5s;
  background: linear-gradient(90deg, #348fb2 60%, #4ce2f6 100%);
  border-color: #34b265;
  border-right: #91fcb8;
  font-weight: bold;
  letter-spacing: 0.05em;

  &:hover,
  &:active,
  &.active {
    background: linear-gradient(90deg, #266881 60%, #44d1e4 100%);
    color:#f5f5f5
  }

  &:focus {
    background: #348fb2 ;
  }
}

.btn {
  --ripple-color: rgba(0, 0, 0, 0.3);
  --ripple-duration: 1.5s;
  --ripple-fuzz: 1px;
  border-color: transparent !important;
  /* Just the ripple goes to the edges */
}

.btn:focus:not(:disabled):not(.disabled),
.btn:active:not(:disabled):not(.disabled),
.btn.click-fx:not(:disabled):not(.disabled) {
  background-image: radial-gradient(circle closest-side at center, var(--ripple-color) 0%, var(--ripple-color) calc(100% - var(--ripple-fuzz, 0px)), transparent 100%), linear-gradient(180deg, var(--ripple-color) 10%, transparent 90%);
  background-size: 0% 0%, 0% 0%;
  background-repeat: no-repeat;
  background-origin: border-box;
  -webkit-animation: button-ripple var(--ripple-duration) ease-in;
  animation: button-ripple var(--ripple-duration) ease-in;
}

.btn.click-pre-fx {
  -webkit-animation: none !important;
  animation: none !important;
}

@-webkit-keyframes button-ripple {
  0% {
    background-size: 0% 0%, 0% 0%;
    background-position: calc(50% - var(--click-el-w, 0px)/2 + var(--click-offset-x, 0px)) calc(50% - var(--click-el-h, 0px)/2 + var(--click-offset-y, 0px)), 0% 0%;
  }

  33% {
    background-size: calc(2 * var(--click-max-r, 71%)) calc(2 * var(--click-max-r, 200vw)), 0% 0%;
    background-size: calc(2 * var(--click-max-r, 71%)) 100vmax, 0% 0%;
    background-position: calc(50% - var(--click-el-w, 0px)/2 + var(--click-offset-x, 0px)) calc(50% - var(--click-el-h, 0px)/2 + var(--click-offset-y, 0px)), 0% 0%;
  }

  33.1% {
    background-size: 0% 0%, 100% 1000%;
  }

  100% {
    background-size: 0% 0%, 100% 1000%;
    background-position: 0% 0%, 0% 100%;
  }
}

.fast-ripple {
  --ripple-duration: 1s;
}



