<div class="d-flex justify-content-center mb-2">
  <button type="button" mdbBtn color="primary" mdbWavesEffect (click)="test()">Click me</button>
</div>

<div class="d-flex justify-content-between bg-info">
  <button type="button" mdbBtn color="purple" mdbWavesEffect>Example Button floated left</button>
  <button type="button" mdbBtn color="pink" mdbWavesEffect>Example Button floated right</button>
</div>

<div class="color-block rarewind-gradient z-depth-2 py-4 text-center orange-accent-4">
  <h5>purple-gradient</h5>
</div>

<!-- Main navigation -->
<!--Main Layout-->
<main>
  <div class="container">
    <!--Grid row-->
    <div class="row py-5">
      <!--Grid column-->
      <div class="col-md-12 text-center">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
          dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
          commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
          nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
          anim id est laborum.
        </p>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
</main>
