 <mdb-card>
  <div class="view overlay waves-light" mdbWavesEffect>
    <mdb-card-img [src]="artUri"></mdb-card-img>
  </div>
  <mdb-card-body>
    <mdb-card-title>
      <div class="media">
        <img class="avatar mr-3" src="https://mdbootstrap.com/img/Photos/Avatars/img (20).jpg" />
        <div class="media-body">
          <h5 class="mt-0 font-weight-bold">Heading</h5>
          Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in
          vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia
          congue felis in faucibus.
        </div>
      </div>
    </mdb-card-title>
  </mdb-card-body>
  <mdb-card-footer class="mdb-color lighten-3 text-center">

  </mdb-card-footer>
</mdb-card>
