<section class="mx-2">
  <div class="card card-image image-overlay">
    <div class="text-white text-center rgba-stylish-strong py-5 px-4">
      <div class="py-5">
        <h5 class="h5 orange-text"><i class="fas fa-camera-retro"></i>Description</h5>
        <h2 class="card-title h2 my-4 py-2">Jumbotron with image overlay</h2>
        <p class="mb-4 pb-2 px-md-5 mx-md-5">AA bunch of words go hereA bunch of words go hereA bunch of words go hereA bunch of words go hereA bunch of words go here bunch of words go here</p>
        <a mdbBtn gradient="peach" mdbWavesEffect><mdb-icon fas icon="clone" class="left"></mdb-icon>Click me</a>
      </div>
    </div>
  </div>
</section>
<router-outlet></router-outlet>
